<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/marathon</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">KY29Qd5604QoJ4t</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <mapping class="com.softserve.academy.entity.Marathon"/>
        <mapping class="com.softserve.academy.entity.Progress"/>
        <mapping class="com.softserve.academy.entity.Sprint"/>
        <mapping class="com.softserve.academy.entity.Task"/>
        <mapping class="com.softserve.academy.entity.Users"/>
    </session-factory>
</hibernate-configuration>